.login-form {
  max-width: 400px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.full-width {
  width: 100%;
}

.error-message {
  color: red;
  margin-top: 1rem;
  text-align: center;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--invalid .mdc-floating-label {
    color: var(--mdc-filled-text-field-error-label-text-color, var(--mat-sys-error));
}