<div *ngIf="name" class="user-menu-container">
    <div class="boton-admin-container">
        <button mat-button [matMenuTriggerFor]="menu">   
        <mat-icon class="account-circle">account_circle</mat-icon>
        <span>{{ name }} </span>
       <span class="expansor"><mat-icon>expand_more</mat-icon></span>
        </button>
    </div>   
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="goToPanel()">
        <mat-icon>dashboard</mat-icon>
        <span>Ir al panel</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Cerrar sesión</span>
      </button>
    </mat-menu>
  </div>
  
  
